<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Welcome | Signup</title>
</head>
<body>

    <h1>Welcome to SignUp Page</h1>
    <form th:action="@{/sendsignupdata}" method="post">
        Name - <input type="text" name="username" id="username"> <br>
        Email - <input type="email" name="email" id="email"><br>
        password - <input type="password" name="password" id="password"><br><br>
        Confirm password - <input type="password" name="cpassword" id="cpassword"><br><br>
        <input type="submit" value="Sign Up">
        <a th:href="@{/}"><input type="button" value="Log in"></a>
    </form> 
</body>
</html>